* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-image: url(../image/mainBg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}
body {
    color: white;
    width: inherit;
}
.navbar {
    height: 50px;
   border: 0px;
}
.banner {
    min-height: 500px;
    margin-bottom: 5px;
    margin-top: 50px;
}
.hello {
    width: 50%;
    float: left;
    }
.avatar {
    width: 50%;
    float: left;
    }
.row {   
    min-height: 500px;
    margin-bottom: 5px;
    margin-right: 0px;
    }
.row:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.row { display: inline-block; }
/* start commented backslash hack \*/
* html .row { height: 1%; }
.row { display: block; }
/* close commented backslash hack */


.content-java {
    width:80%;
    float: right;;

}
.inner-content-java {
    min-height: 500px;
}
.sidebar-java {
    width: 20%;
    float: left; 
    padding-right: 5px
}
.inner-sitebar-java {
    min-height: 500px;
}
.content-web {
    width: 80%;
    float: left;
}
.inner-content-web {
    min-height: 500px;
}
.sidebar-web {
    width: 20%;
    float: left;
    padding-left: 5px;
}
.inner-sitebar-web {
    min-height: 500px;
}
.footer {
    background: #ccc;
    height: 50px;
    margin-top: 5px;
}
.inner-skills {
    height: 250px;
    margin-bottom: 5px;
}
.inner-contacts {
    height: 250px;
    margin-bottom: 5px;
}

img {
    height: 300px;
   }
