* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-image: url(../image/mainBg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}
body {
    color: white;
    width: inherit;
}
a {
    color: white;
    font-family: 'montserrat', sans-serif;    
}
a:hover {
    color:cornflowerblue;
    
}
.navbar {
   height: 50px;
   border: 0px;
 }
.navbar-default .navbar-brand {
    color: white;
    font-family: 'montserrat', sans-serif;
    font-size: 30px;
}
.navbar-default .navbar-brand:hover {
    color:cornflowerblue;
}
.navbar-default .navbar-nav  li  a {
    color: white;
    font-family: 'montserrat', sans-serif;
    font-size: 18px;
}
.navbar-default .navbar-nav  li  a:hover {
    color:cornflowerblue;
}

.banner {  
    min-height: 500px;
    margin-bottom: 5px;
    margin-top: 50px;
  }
.hello {
    width: 50%;
    float: left;
    color: white;
    font-family: 'montserrat', sans-serif;
    font-size: 18px;
    text-align: right;
    margin-top: 206.5px;
    padding-right: 50px;
    }
.name p {
    font-size: 30px;
}
.avatar {
    width: 50%;
    float: left;
    margin-top: 100px;
    }
.row {   
    min-height: 500px;
    margin-bottom: 5px;
    margin-right: 0px;
    }
.row:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.row { display: inline-block; }
/* start commented backslash hack \*/
* html .row { height: 1%; }
.row { display: block; }
/* close commented backslash hack */


.content-java {
    width:80%;
    float: right;;

}
.inner-content-java {
    min-height: 500px;
}
.sidebar-java {
    width: 20%;
    float: left; 
    padding-right: 5px
}
.inner-sitebar-java {
    min-height: 500px;
}
.content-web {
    width: 80%;
    float: left;
}
.inner-content-web {
    min-height: 500px;
}
.sidebar-web {
    width: 20%;
    float: left;
    padding-left: 5px;
}
.inner-sitebar-web {
    min-height: 500px;
}
.footer {
    background: #ccc;
    height: 50px;
    margin-top: 5px;
}
.inner-skills {
    height: 250px;
    margin-bottom: 5px;
}
.inner-contacts {
    height: 250px;
    margin-bottom: 5px;
}

img {
    height: 300px;
    width: 180px;
    
   }

.navbar-nav {
 
}
